<div class="loading-bar-container" ng-show="progress">
  <md-progress-circular md-mode="indeterminate" class="loading-bar" md-diameter="70"></md-progress-circular>
</div>
<div class="event-page">
    <style>
        .event-page .adm-cover-picture {
            background-image: url('{{ADDR_EVENT_IMG}}{{e.main_image}}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        md-tooltip {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .md-background {
    border-radius: inherit;
  }
  .md-content {
    height: auto;
    width: 400px;
    max-width: 400px;
    padding: 8px;
    white-space: initial;
  }
}
@media screen and (min-width: 600px) {
  md-tooltip .md-content {
    font-size: 14px;
    height: auto;
    width: 300px;
    padding: 8px;
    max-width: 300px;
  }
}
    </style>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab label="Informations">
            <div class="event-content">
                <div class="adm-top-container">
                    <md-icon class="material-icons adm-top-icon" ng-click="save()">save</md-icon>
                </div>
                <form>
                    <div class="box">
                        <div class="adm-cover-picture" ng-show="!picFile">
                        </div>
                        <div style="height: 250px" ng-show="picFile">
                          <img-crop image="picFile  | ngfDataUrl" result-image="e.croppedDataUrl" result-image-size="{w:1280,h:548}" area-type="rectangle" result-image-quality "1" aspect-ratio="21/9"></img-crop>
                        </div>
                        <md-icon class="material-icons top-left-button" ngf-select ng-model="picFile" file-model="myFile" accept="image/*">insert_photo</md-icon>
                    </div>
                    <div class="box">
                        <div class="event-create-box-title">
                            <md-icon class="material-icons box-title-icn">event_note</md-icon>
                            <div class="title">General informations</div>
                        </div>
                        <md-content class="md-padding">
                            <div layout="column">
                                <md-input-container>
                                    <label>Name</label>
                                    <input ng-model="e.name" required type="text">
                                </md-input-container>
                                <md-input-container>
                                    <label>Description</label>
                                    <textarea ng-model="e.description" md-maxlength="400" max-rows="4" rows="4" md-select-on-focus md-no-autogrow></textarea>
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                    <div class="box">
                        <div class="event-create-box-title">
                            <md-icon class="material-icons box-title-icn">place</md-icon>
                            <div class="title">Location</div>
                        </div>
                        <md-content class="md-padding">
                            <div layout="column">
                                <md-input-container>
                                    <label>Adress</label>
                                    <input ng-model="e.location.address" required type="text">
                                </md-input-container>

                                <md-input-container>
                                    <label>City</label>
                                    <input ng-model="e.location.city" required type="text">
                                </md-input-container>

                                <md-input-container>
                                    <label>Country</label>
                                    <input ng-model="e.location.country" required type="text">
                                </md-input-container>

                                <md-input-container>
                                    <label>Zip</label>
                                    <input ng-model="e.location.zip" required type="text">
                                </md-input-container>

                            </div>
                        </md-content>
                    </div>
                    <div class="box">
                        <div class="event-create-box-title">
                            <md-icon class="material-icons box-title-icn">visibility</md-icon>
                            <div class="title">Type and privacy</div>
                        </div>
                        <md-content class="md-padding">
                            <div layout="column">
                                <md-input-container>
                                    <label>Type</label>
                                    <md-select ng-model="e.type" class="sh-selector">
                                        <md-option ng-repeat="t in types" value="{{t}}">
                                            {{t}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout layout-padding layout-align="space-around center">
                                <md-checkbox ng-model="e.private" aria-label="Checkbox 1" class="sh-selector">Private</md-checkbox>
                                <md-checkbox ng-model="e.free" aria-label="Checkbox 1" class="sh-selector">Free Invitation</md-checkbox>
                                <md-checkbox ng-model="e.participation" aria-label="Checkbox 1" class="sh-selector">Participation Mandatory</md-checkbox>
                            </div>
                        </md-content>
                    </div>
                    <div class="box">
                        <div class="event-create-box-title">
                            <md-icon class="material-icons box-title-icn">watch_later</md-icon>
                            <div class="title">Time</div>
                        </div>
                        <md-content class="md-padding">
                            <div layout="column" layout-align="center center">
                                <div layout layout-padding layout-align="space-around center">
                                    <md-input-container>
                                        <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Start" min-date="date" ng-model="e.start_date" class="md-input" style="cursor: pointer;">
                                    </md-input-container>
                                    <md-input-container>
                                        <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="End" min-date="e.date" ng-model="e.end_date" class="md-input" style="cursor: pointer;">
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </div>
                </form>
                <div class="adm-top-container">
                    <md-icon class="material-icons adm-top-icon" ng-click="delete()">delete</md-icon>
                </div>
            </div>
        </md-tab>
        <md-tab label="Needs">
            <div class="event-content">
                <div class="adm-top-container">
                    <md-icon class="material-icons adm-top-icon" ng-click="save()">save</md-icon>
                </div>
                <md-grid-list class="event-needs-list" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4" md-row-height="200px" md-gutter="15px" md-gutter-gt-sm="15px">
                    <md-grid-tile md-rowspan="1" md-colspan="2" class="adm-box" ng-repeat="n in e.needs">
                        <div class="adm-need-container">
                            <div class="adm-needs">
                                <md-input-container md-no-float style="width:100%;display: inline-block; margin: 10px 0;">
                                    <input ng-model="n.name" required type="text" aria-label="Name of need" placeholder="Name">
                                </md-input-container>
                                <md-input-container md-no-float style="display: inline-block; margin: 10px 0; max-width: 80px;">
                                    <input ng-model="n.quantity" required type="number" min="1" aria-label="Quantity" placeholder="Quantity">
                                </md-input-container>
                                <md-input-container md-no-float style="display: inline-block; margin: 10px 0; max-width: 80px;">
                                    <input ng-model="n.acquired" type="number" aria-label="Offered" placeholder="Offered" disabled>
                                </md-input-container>
                            </div>
                            <div class="adm-needs">
                                <md-input-container md-no-float style="width: 100%; margin: 10px 0 0 0;">
                                    <textarea ng-model="n.description" md-maxlength="85" max-rows="2" rows="2" md-select-on-focus="" aria-label="Description" placeholder="Description" md-no-autogrow></textarea>
                                </md-input-container>

                            </div>
                            <div>
                                <md-checkbox ng-model="n.optional" aria-label="optional" class="sh-selector">Mandatory</md-checkbox>
                            </div>
                        </div>
                        <md-icon ng-click="deleteNeed(n.id)" class="material-icons top-left-button delete-need">clear</md-icon>

                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="2" class="adm-box" ng-repeat="(index, n) in e.newNeeds">
                        <div class="adm-need-container">
                            <div class="adm-needs">
                                <md-input-container md-no-float style="width:100%;display: inline-block; margin: 10px 0;">
                                    <input ng-model="n.name" required type="text" aria-label="Name of need"  placeholder="Name">
                                </md-input-container>
                                <md-input-container md-no-float style="display: inline-block; margin: 10px 0; max-width: 80px;">
                                    <input ng-model="n.quantity" min="1" required type="number" aria-label="Quantity" placeholder="Quantity" style="text-align: center;">
                                </md-input-container>
                            </div>
                            <div class="adm-needs">
                                <md-input-container md-no-float style="width: 100%; margin: 10px 0 0 0;">
                                    <textarea ng-model="n.description" md-maxlength="85" max-rows="2" rows="2" md-select-on-focus="" aria-label="Description" placeholder="Description" md-no-autogrow></textarea>
                                </md-input-container>

                            </div>
                            <div>
                                <md-checkbox ng-model="n.optional" aria-label="optional" class="sh-selector">Mandatory</md-checkbox>
                            </div>
                        </div>
                        <md-icon ng-click="removeNeed(index)" class="material-icons top-left-button delete-need">clear</md-icon>

                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="2" class="adm-box">
                        <md-icon class="material-icons adm-top-icon" ng-click="addNeed()">add</md-icon>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-tab>
        <md-tab label="Participants">
            <div class="event-content">
                <div class="friends-participating-box">
                    <md-icon class="material-icons">group</md-icon>
                    <div class="friends-participants">PARTICIPANTS</div>
                    <div class="participation-status">{{e.participants.length ? e.participants.length : 0}}</div>
                </div>
                <md-input-container md-no-float class="md-block" ng-if="e.paraticipants">
                    <input ng-model="participants.query" type="text" placeholder="Search SocialHiver">
                </md-input-container>
                <div ng-if="e.participants.length == 0 || e.participants == undefined" class="not-data-msg">No participants yet.</div>
                <md-list class="fixedRows">
                    <md-list-item class="md-2-line contact-item" ng-repeat="contact in e.participants | filter:participants.query">
                        <img ng-src="{{ADDR_USER_IMG}}{{contact.main_image}}" class="md-avatar" alt="{{contact.name}}" />
                        <div class="md-list-item-text compact" class="adm-inline">
                            <h3>{{contact.first_name}} {{contact.last_name}}</h3>
                        </div>
                        <div class="adm-inline">
                            <md-icon class="material-icons user-action-btn" ng-click="kick(contact)">clear</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="REQUESTS">
            <div class="event-content">
                <div class="friends-participating-box">
                    <md-icon class="material-icons">group_add</md-icon>
                    <div class="friends-participants">PENDING REQUESTS</div>
                    <div class="participation-status">{{e.demands.length ? e.demands.length : 0}}</div>
                </div>
                <div ng-if="e.demands == undefined || e.demands.length === 0" class="not-data-msg">No request yet.</div>
                <md-list class="fixedRows">
                    <md-list-item class="md-2-line contact-item" ng-repeat="d in e.demands"> <!-- | filter:e.demandQuery -->
                        <img ng-src="{{ADDR_USER_IMG}}{{d.sender.main_image}}" class="md-avatar" alt="{{d.name}}" />
                        <div class="md-list-item-text compact" class="adm-inline">
                            <h3>{{d.sender.first_name}} {{d.sender.last_name}}</h3>
                            <p></p>
                        </div>
                        <div class="adm-inline">
                            <md-icon class="material-icons user-action-btn" ng-click="accept(d)">done</md-icon>
                        </div>
                        <div class="adm-inline">
                            <md-icon class="material-icons user-action-btn" ng-click="refuse(d)">clear</md-icon>
                        </div>
                        <div class="adm-inline">
                            <md-icon ng-click="showNeeds(d)" class="material-icons user-action-btn">visibility</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="Invites">
            <div class="event-content">
                <div class="friends-participating-box">
                    <md-icon class="material-icons">mail</md-icon>
                    <div class="friends-participants">PENDING INVITATIONS</div>
                    <div class="participation-status">{{sentInvite.length + 0}}</div>
                </div>
                <md-input-container md-no-float class="md-block" ng-if="pendingInvitation">
                    <input ng-model="invite.query" type="text" placeholder="Search SocialHiver">
                </md-input-container>
                <md-list class="fixedRows">
                    <md-list-item class="md-2-line contact-item" ng-repeat="contact in sentInvite">
                        <img ng-src="{{ADDR_USER_IMG}}{{contact.guest.main_image}}" class="md-avatar" alt="{{contact.guest.first_name}}" />
                        <div class="md-list-item-text compact adm-inline">
                            <a href="/#/user/{{contact.guest.id}}"><h3>{{contact.guest.first_name}} {{contact.guest.last_name}}</h3></a>
                            <p></p>
                        </div>
                    </md-list-item>
                </md-list>
                <div ng-if="invited.length == 0" class="not-data-msg">No pending invitation.</div>
                <div class="friends-participating-box">
                    <md-icon class="material-icons">group_add</md-icon>
                    <div class="friends-participants">NEW INVITATIONS</div>
                </div>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="invite.query" type="text" placeholder="Search SocialHiver">
                </md-input-container>
                <md-list class="fixedRows">
                    <md-list-item class="md-2-line contact-item" ng-hide="contact.sent || contact.id == user.id" ng-repeat="contact in allContacts | filter:invite.query | filter:pendingInviteFilter | filter:sponsorFilter">
                        <img ng-src="{{ADDR_USER_IMG}}{{contact.main_image}}" class="md-avatar" alt="{{contact.name}}" />
                        <div class="md-list-item-text compact adm-inline">
                            <a href="/#/user/{{contact.id}}"><h3>{{contact.first_name}} {{contact.last_name}}</h3></a>
                            <p></p>
                        </div>
                        <div class="adm-inline">
                            <md-icon class="material-icons user-action-btn" ng-click="invite(contact)">add</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="Posts">
            <div class="event-content">
                <div class="adm-top-container">
                    <md-icon class="material-icons adm-top-icon" ng-hide="editorBool" ng-click="openEditor()">add</md-icon>
                    <md-icon class="material-icons adm-top-icon" ng-show="editorBool" ng-click="closeEditor()">replay</md-icon>
                    <md-icon class="material-icons adm-top-icon" ng-show="editorBool" ng-click="savePost()">done</md-icon>
                </div>
                <div ng-if="editorBool" class="trix-editor">
                    <trix-editor angular-trix ng-model="editorData" angular-trix trix-initialize="trixInit(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);"></trix-editor>
                </div>
                <div ng-if="e.posts == undefined && !editorBool" class="not-data-msg">There is no post yet.</div>
                <md-grid-list class="event-adm-posts-list" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4" md-row-height="150px" md-gutter="12px" md-gutter-gt-sm="16px">
                    <md-grid-tile ng-repeat="post in e.posts" md-rowspan="1" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2" class="adm-box">
                        <md-icon class="material-icons adm-action-btn-in remove-post" ng-click="deletePost(post.id)">clear</md-icon>
                        <md-icon class="material-icons adm-action-btn-in edit-post" ng-click="editPost(post)">mode_edit</md-icon>
                        <md-icon class="material-icons adm-action-btn-in edit-coments">question_answer</md-icon>
                        <div class="adm-post-date">
                            {{post.postDate}}
                        </div>
                        <div class="adm-post-title">{{post.body | limitTo: 100}} {{post.body.length
                            < 100 ? '' : '...'}}</div>
                    </md-grid-tile>
                </md-grid-list>
                </div>
        </md-tab>
        <md-tab label="Pictures">
            <div class="event-content">
                <div class="adm-top-container">
                    <md-icon class="material-icons adm-top-icon" ngf-select="AddSideImages($file)" ng-model="picFil" file-model="myFil" accept="image/*">add</md-icon>
                </div>
                <div ng-if="e.side_images == undefined || e.side_images.length == 0" class="not-data-msg">There is no pictures yet.</div>
                <md-grid-list class="event-adm-pictures-list" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="4" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="16px">
                    <md-grid-tile ng-repeat="(index, i) in e.side_images" class="picture" md-rowspan="1" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
                        <md-icon class="material-icons adm-action-btn-in remove-pic" ng-click="DeleteSideImage(index)">clear</md-icon>
                        <img src="{{ADDR_EVENT_IMG}}{{i}}">
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-tab>
        <md-tab label="Sponsors">
            <div class="event-content">
              <div class="friends-participating-box">
                  <md-icon class="material-icons">mail</md-icon>
                  <div class="friends-participants">SPONSORING PROPOSITIONS</div>
                  <div class="participation-status">{{sponsorRequests.length}}</div>
              </div>
              <md-list class="fixedRows">
                  <md-list-item ng-repeat="r in sponsorRequests" class="md-2-line contact-item">
                      <img ng-src="{{ADDR_USER_IMG}}{{r.sponsor.main_image}}" class="md-avatar" alt="{{r.sponsor.first_name}}" />
                      <div class="md-list-item-text compact adm-inline">
                          <a href="/#/users/{{r.sponsor.id}}"><h3>{{r.sponsor.first_name}}</h3></a>
                          <p></p>
                      </div>
                      <div class="adm-inline">
                          <md-icon class="material-icons user-action-btn" ng-click="accept(r)">add</md-icon>
                          <md-icon class="material-icons user-action-btn" ng-click="refuse(r)">clear</md-icon>
                          <md-icon class="material-icons user-action-btn" ng-click="showNeeds(r)">remove_red_eye</md-icon>
                      </div>
                  </md-list-item>
              </md-list>
              <div ng-if="sponsorRequests.length == 0" class="not-data-msg">No proposition yet.</div>
              <div class="friends-participating-box">
                  <md-icon class="material-icons">assignment</md-icon>
                  <div class="friends-participants">CURRENT SPONSORS</div>
              </div>
              <md-list class="fixedRows">
                  <md-list-item ng-repeat="s in e.sponsorships" class="md-2-line contact-item">
                      <img ng-src="{{ADDR_USER_IMG}}{{s.sponsor.main_image}}" class="md-avatar" alt="{{s.sponsor.first_name}}" />
                      <div class="md-list-item-text compact adm-inline">
                          <a href="/#/users/{{s.sponsor.id}}"><h3>{{s.sponsor.first_name}}</h3></a>
                          <p></p>
                      </div>
                      <div class="adm-inline">
                          <!-- <md-icon class="material-icons user-action-btn">clear</md-icon> -->
                          <md-icon class="material-icons user-action-btn" ng-click="showNeeds(s)">remove_red_eye</md-icon>
                      </div>
                  </md-list-item>
              </md-list>
            </div>
        </md-tab>
    </md-tabs>
    </div>
