<md-dialog aria-label="Offer dialog" class="offer-dialog">
    <form ng-cloak>
        <md-button class="md-icon-button" ng-click="cancel()" style="right: 0; position: absolute;">
            <md-icon class="material-icons" role="button" tabindex="0">close</md-icon>
        </md-button>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding: 20px 20px 20px 20px">
                <div ng-if="request.message != undefined" class="offer-message">
                    <div class="offer-title">
                        <md-icon class="material-icons offer-icon" role="button" tabindex="0" style="display: inline-block; vertical-align: middle;">mail</md-icon>
                        <div style=" font-size: 20px; display: inline-block; vertical-align: middle;">Message</div>
                    </div>
                    <div style="font-size: 15px;">
                        {{request.message}}
                    </div>
                </div>
                <div class="offer-offerings">
                    <div class="offer-title" style="margin: 20px 0 0 0;">
                        <md-icon class="material-icons offer-icon" role="button" tabindex="0" style="display: inline-block; vertical-align: middle;">redeem</md-icon>
                        <div style="font-size: 20px; display: inline-block; vertical-align: middle;">Offerings</div>
                    </div>
                    <div style="overflow: scroll;">
                        <md-list flex>
                            <md-list-item ng-repeat="c in request.contribution" class="md-2-line" ng-click="null">
                                <div ng-if="c.name != undefined" class="md-list-item-text" layout="column">
                                    {{c.name}}
                                </div>
                                <div ng-if="c.need_name != undefined" class="md-list-item-text" layout="column">
                                    {{c.need_name}}
                                </div>
                                <div>
                                    {{c.quantity}}
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
